/* 导航栏 */
header{
    width: 1200px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
}
header .logo{
    width: 146px;
    height: 80px;
    margin: 5px 200px 0 0;
    float: left;
}
header .nav{
    overflow: hidden;
    float: left;
}
header .nav li{
    float: left;
    margin-right: 56px; 
    font-size: 16px;
}
header .nav li:has(a.active),header .nav li:hover{
    border-bottom: 4px solid #01a1ff;
}
header .nav li a{
   color: #333;
}
.active{
    color: #01a1ff !important;
}
header .nav li:hover a{
    color: #01a1ff;
}
header .language{
    float: right;
}
header .language li{
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid transparent;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}
header .language li:first-child{
    border: 1px solid #ccc;
}
header .language li:hover{
    border: 1px solid #ccc;
}
/* header .language li:last-child:hover header .language li:first-child{
    border: 1px solid transparent;
} */
/* banner */
.banner{
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.banner .imgs{
    /* width: 1000%; */
    position: absolute;
}
.banner li{
    float: left;
}
.banner img{
    width: 100%; /**/
    height: 400px;
}
.prev,.next{
    width: 32px;
    height: 32px;
    position: absolute;
    top:184px;
}
.prev{
    left: 40px;
    background: url(../home//images/index-xb2.png) no-repeat;
}
.next{
    right: 40px;
    background: url(../home//images/index-xb1.png) no-repeat;
}
.prev:hover{
    background: url(../home//images/index-xb4.png) no-repeat;
}
.next:hover{
    background: url(../home//images/index-xb3.png) no-repeat;
}
.banner .count{
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: 25.5px;
}
.banner .count li{
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 5px;
    opacity: .1;
    filter: alpha(opacity=10);
    cursor: pointer;
}
.banner .count li.active{
    background-color: #01a1ff;
    opacity: 1;
    filter: alpha(opacity=100);
}
/* 标题_公共样式 */
.title{
    font:34px "Franklin Gothic Medium";
    text-transform: uppercase;/*字母全部大写*/
    text-align: center;
    position: relative;
    margin-bottom: 44px;
}
.title::after{
    content: '';
    display: block;
    width: 42px;
    border-bottom: 4px solid #01a1ff;
    position: absolute;
    left: 50%;
    margin-left: -21px;
    bottom: -3px;
}
/* 首页p样式 */
.index-p{
    width: 1200px;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #666;
    padding: 0 85px 0 90px;
    line-height: 24px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}
/* 侧边栏 */
aside{
    float: left;
    width: 200px;
    border:1px solid #01a1ff;
    margin-right: 45px;
}
aside .aside-title{
    background-color: #01a1ff;
    padding: 30px 0 24px;
    text-align: center;
    color: #fff;
}
aside .aside-title p{
    font-size: 14px;
}
aside .title{
    padding-bottom: 10px;
    margin-bottom: 14px;
    font-size: 20px;
}
aside .title::after{
    border-bottom: 4px solid #fff;
}
aside .aside-nav{
    padding: 9px 14px 14px;
    color: #666;
    font-size: 18px;
    text-align: center;
}
aside .aside-nav li{
    width: 172px;
    padding: 8px 0;
    margin-bottom: 20px;
}
aside .aside-nav li:hover{
    background-color: #01a1ff;
    border-radius: 13px;
}
aside .aside-nav li:hover a{
    color: #fff!important;
}
aside .aside-nav li:last-child{
    margin-bottom: 0px;
}
aside .aside-nav a{
    color: #666;
}
aside .aside-nav i{
    font-weight: bold;
    margin-right: 3px;
}
.aside-active{
    background-color: #01a1ff;
    border-radius: 13px;
}
.aside-active a{
    color: #fff!important;
}

/* content-title */
.content-title{
    padding:0 18px 10px 0;
    border-bottom: 1px solid #d3d3d3;
    overflow: hidden;
}
.content-title h3{
    float: left;
    font-size: 28px;
    color: #333;
    border-left: 3px solid #01a1ff;
    padding:8px;
    margin-left: 20px;
}
.content-title h3 span{
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
}
.content-title .crumbs-nav{
    float: right;
    color: #999;
    font-size: 14px;
    margin-top: 20px;
}
.content-title .crumbs-nav a{
    color: #999;
}
.content-title .crumbs-nav span{
    color: #01a1ff;
}

/* footer */
footer{
    width: 100%;
    background-color: #01a1ff;
}
.footer{
    width: 100%;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.footer a{
    color: #fff;
}
.footer-content{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    overflow: hidden;
}
.footer-nav{
    float: left;
}
.footer-nav dl{
    float: left;
    margin-right: 100px;
}
.footer-nav dl:last-child{
    margin-right: 0;
}
.footer-nav dl dt{
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}
.footer-nav dl dd{
    font-size: 12px;
    margin-top: 20px;
}
.footer-concat{
    float: right;
}
.footer-concat input,.footer-concat textarea{
    outline: none;
    border: 1px solid #fff;
    background-color: #01a1ff;
    color: #fff;
}
.footer-concat input{
    width: 138px;
    height: 30px;
    padding: 0 5px;
}
.footer-concat input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, .5);
}
.footer-concat input::-ms-input-placeholder{
    color: rgba(255, 255, 255, .5);
}
.footer-concat input:first-child{
    margin-right: 17px;
}
.footer-concat textarea{
    width: 310px;
    height: 95px;
    margin: 10px 0;
    padding: 5px;
}
.footer-concat textarea::-ms-input-placeholder{
    color: rgba(255, 255, 255, .5);
}
.footer-concat textarea::-webkit-input-placeholder{
    color: rgba(255, 255, 255, .5);
}
.footer-concat input[type=button]{
    width: 110px;
    height: 30px;
}
footer .copyright{
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 40px;
}